/* reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik Mono One', sans-serif;
}

/* menu nav  */
nav {
    position: relative;
}

nav ul li {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    background-color: white;
    margin: 15px;
}

ul {
    top: 0px;
    right: 0px;
    position: fixed;
    z-index: 1;
}

li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: inline-block;
}

nav ul li:hover {
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.5);
}

/* main con le section */
section {
    position: relative;
}

.viewport-height {
    height: 100vh;
}

.viewport-height.red {
    background-color: red;
}

.viewport-height.green {
    background-color: green;
}

.viewport-height.yellow {
    background-color: yellow;
}

.centered h1 {
    font-size: 30px;
    color: yellow;
}

.title {
    display: block;
    text-align: center;
}

#third-h1{
    color: green;
}

 img {
    height: 300px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* back to top  */

.go-back {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.go-back a {
    text-decoration: none;
}